In [2]:
#all dependencies that will be used or could be used
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('data/train.csv')

In [4]:
data.head()

                                                 sms  label
0  Go until jurong point, crazy.. Available only ...      0
1                    Ok lar... Joking wif u oni...\n      0
2  Free entry in 2 a wkly comp to win FA Cup fina...      1
3  U dun say so early hor... U c already then say...      0
4  Nah I don't think he goes to usf, he lives aro...      0